.container {
  display: flex;
  align-items: flex-start;
  width: 600px;
  border: 1px solid transparent;
}

.constructor {
  width: 100%;
  padding: 0;
  margin: 0;
}

.bordercolor {
  border-color: #4c4cff;
}

.title {
  font-family: 'Jet Brains Mono';
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}

.drop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #4c4cff;
}

.itemlock {
  display: flex;
  justify-content: flex-end;
}

.fillings {
  padding: 0;
  max-width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: scroll;
  max-height: calc(100vh - 574px);
  row-gap: 16px;
}

.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.order {
  display: flex;
  justify-content: flex-end;
}

.total {
  display: flex;
  align-items: center;
}