.profile {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  column-gap: 60px;
  padding: 0;
  margin: 0;
}

.menu {
  width: 320px;
  display: block;
  padding: 0;
  margin: 0;
}

.items {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.item {
  width: 100%;
  min-height: 64px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.link {
  text-decoration: none;
  transition: color 0.3s linear;
}

.link:hover {
  color: #f2f2f3;
}

.linkActive {
  color: #f2f2f3;
}

.form {
  padding: 0;
  margin: 0;
  width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}