.container {
  max-width: 600px;
  width: 100%;
}

.itemlock {
  display: flex;
  justify-content: end;
}

.fillings {
  padding: 0;
  max-width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: scroll;
  max-height: calc(100vh - 484px);
  row-gap: 16px;
}

.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.order {
  display: flex;
  justify-content: end;
}

.total {
  display: flex;
  align-items: center;
}