.container {
  max-width: 600px;
  width: 100%;
}

.itemlock {
  box-sizing: border-box;
  display: flex;
  justify-content: end;
}

.order {
  display: flex;
  justify-content: end;
}

.total {
  display: flex;
  align-items: center;
}